# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/

# Base de datos vectorial
qdrant_db/

# Archivos temporales
uploads/

# Frontend
node_modules/
.DS_Store
/dist
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Virtual Environment
LLM_312/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Local development
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
chroma/
chroma*/
*.db
*.sqlite3
chroma.sqlite3

# Testing
coverage/
.coverage
htmlcov/
.tox/
.pytest_cache/

# Project specific
data/*.pdf
frontend/chroma.sqlite3
api/chroma.sqlite3
api/config.json
**/config.json
